<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />

    <application>
        <receiver
            android:name=".LiveActivityActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.nianup.live_activity_kit.TAP" />
                <action android:name="com.nianup.live_activity_kit.DISMISS" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
